/* line 23, ../compass/sass/styles.scss */
#map {
  margin-left: 50px;
  height: 75vh;
  width: 50%;
  float: left;
}

/* line 30, ../compass/sass/styles.scss */
.repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  height: 40px;
  padding-top: 10px;
}

/* line 36, ../compass/sass/styles.scss */
md-content {
  margin: 16px;
}

/* line 39, ../compass/sass/styles.scss */
md-virtual-repeat-container {
  border: solid 1px grey;
}

/* line 42, ../compass/sass/styles.scss */
#vertical-container {
  margin: 10px 50px;
  height: 50vh;
  width: 100%;
  max-width: 470px;
}

/* line 49, ../compass/sass/styles.scss */
.mini-link {
  font-size: 10px;
  margin-right: 8px;
  margin-bottom: 10px;
  float: right;
}

/* line 56, ../compass/sass/styles.scss */
.title {
  text-align: center;
  margin-top: 20px;
  margin: auto;
}

/* line 62, ../compass/sass/styles.scss */
.search-box {
  margin: 10px 50px;
  width: 470px;
}
/* line 65, ../compass/sass/styles.scss */
.search-box md-input-container {
  margin: 0px;
}
/* line 68, ../compass/sass/styles.scss */
.search-box input {
  width: 100%;
}
/* line 71, ../compass/sass/styles.scss */
.search-box .marker-option {
  margin: 20px;
}

/* line 76, ../compass/sass/styles.scss */
.getDir {
  font-size: 10px;
  margin-right: 3px;
  float: right;
}
