<!DOCTYPE html>
<html ng-app="citiesApp">
<head>
	<title></title>
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
	<link rel="stylesheet" href="css/styles.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	 <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?libraries=places&v=3.exp&signed_in=true"></script>
	<script text='text/javascript' src="js/cities.js"></script>
	<script src="js/scripts.js"></script>
</head>
<body ng-controller="citiesController" ng-cloak>
	<div class="title">
		<h1>Top Cities in Atlanta</h1>
	</div>

	<div id="map"></div>

	<!-- <table>
		<tr ng-repeat="city in cities track by $index">
			<td><a href="" ng-click="triggerClick($index)">{{city.city}}</a></td>
			<td>{{city.state}}</td>
		</tr>
		
	</table> -->
	<div ng-cloak class='search-box'>
		
	</div>
	<div ng-cloak>
		<md-content layout="column">
			<div id="list-window">
				<form ng-submit="updateMarkers()">
					<div>
						<div class='search-box' ng-cloak>
							<md-input-container>
								<label>Search</label>
								<input id="filter-input" ng-model="citiesFilter" type="text">
							</md-input-container>
							<md-button class='md-primary' type="submit" value="Update the map">Update the Map</md-button>
							<md-button class="md-primary" type="submit" id="reset" ng-click="resetZoom()" value="Zoom Back Out">Zoom Back Out</md-button>
						</div>
					</div>
					<md-virtual-repeat-container id="vertical-container">
						<div md-virtual-repeat='city in (filteredCities = (cities | filter: citiesFilter))' class='repeated-item' id='popupConatiner' flex>
							<span><a class="md-warn" href="" ng-click="triggerClick(city.yearRank)">{{city.city}}</a>, </span><span>{{city.state}} </span><button class='md-warn getDir' ng-click="getDirections(city.lat, city.lon)">Get Directions</button><span class='mini-link'><a class="md-warn" href='' ng-click="showAlert($event, city)">More Info</a></span>
						</div>
					</md-virtual-repeat-container>
				</form>
			</div>
			<!-- <md-list flex>
				<md-subheader class="md-no-sticky">City List</md-subheader>
				<md-list-item class="md-2-line" ng-repeat="city in cities track by $index">
					<div class="md-list-item-text" layout="column">
						<h3><a href="" ng-click="triggerClick($index)">{{city.city}}</a></h3>
						<h4>{{city.state}}</h4>
					</div>
	    		</md-list-item>
	    	</md-list> -->
	    </md-content>
	</div>
</body>
</html>